{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block titreH1 %}Liste des livres{% endblock %}

{% block body %}

    <div class="container">

    </div>

{% endblock %}
